@import '../../sass/_base';


@mixin centerRunningMan {
    width: 88px;
    height: 117px;
    left: 82px;
    top: 40.1%;                     
}

svg{
    display: block;
    position: absolute;
}


#runningMan {
    
    @include centerRunningMan;
    z-index: 2;
}

.banner__handImage {
    width: 331px;
    height: 349px;
    position: absolute;
    z-index: 4;
    transform:translateX(300px);

    image {
       width: 100%;
       height: 100%;
    }
}

.bannner__rulerAndChalk {
    position: absolute;
    bottom: 0;
    right: 0;
}

#isi-wrapper {
    transform: translateY(197px);
    bottom: 0;
    height: 30%;
}

.banner__enbrelLogo{
    opacity: 0;
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(59px,-50%);
}


.banner__leadCopy1 {
    position: absolute;
    font-size: 33px;
    color:#fff;
    text-align: left;
    line-height: 1.25;
    font-weight: bold;
    left:0;
    right: 0;
    top:  56px;   ;
    margin: 0 auto;
    width: max-content;
    width: 91%;
}

.banner__leadCopy2 {
    opacity: 0;
    @extend .banner__leadCopy1;
    font-size: 30px;

    &-hidden{
        @extend .banner__leadCopy1;
        opacity: 0;
        
    }

    small {
        font-size: 26px;
    }
}

.banner__topBar{
    height: 43px;
    p{
        font-size: 18px;
        color: #000000;
        font-weight: bold;
        text-transform: uppercase;
    }

}


.banner {

    &__tape {

        right: 23px;
        bottom: -51px;
        transform: scale(1.15);
    }
    &__scissors {
        width: 262px;
        bottom: -25px;    
        left: 0;
    }

    &__rulerAndChalk {
        display: block;
        position: absolute;
        top: 276px;
        right: 0;
        opacity: 0;
    }

    &__button {
        top: 187px;
        left: 15px;
        width: 182px;
        height: 36px;
        font-size: 21px;
        text-transform: uppercase;

        &-caret{
            width: 15px;
            height: 19px;
        }
    }

    &__amgenLogo {
        margin: 10px 0;
    }

    &__piLinks {
        transform: translateY(197px);
        bottom: 4px;
    }
    &__piLinks 	{	
        grid-template: "a b c"/ 1fr 10% 1fr;
    }
}


