$font: Arial, sans-serif;
$isiFont: Arial, sans-serif;

$medium: 400;
$black: 800;
$isiWrapperHeight:33%;
$oswaldFont:'Oswald', sans-serif;
$beige: #e8d4af;
$teal: #4c868f;
$purple: #211061;
$gray: #cdcccc;
$piLinkTextColor:#40404f;


body {
	font-family: $font;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-size-adjust: 100%;
	border: 0 none;
	outline: 0;
	margin: 0;
	padding: 0;
}

sup {
	vertical-align: super;
	top: 0;
	font-size: 0.6em;
	line-height: 0;
	white-space: nowrap;
}

.nowrap {
	white-space: nowrap;
}

.hidden{
	position: absolute;
	opacity: 0;
}

#banner {
	position: relative;
	width: $width;
	height: $height;
	box-sizing: border-box;
	border: 1px solid #333333;
	overflow: hidden;
	margin: 0 auto;
	cursor: pointer;
	
	.frame {
		opacity: 0;
		width: 100%;
		height: 100% - $isiWrapperHeight;
	}

	.banner__topBar {
		display: flex;
		align-items: center;
		position: absolute;
		top: 0;
		width: 100%;
		background: $beige url('eyebrowBg.png') no-repeat;
		background-position-y: top;
		height: 45px;
		p{
			color: black;
			margin: 0 0 0 15px;
			padding: 0;
		}
	}
}


.banner {

	font-family: $oswaldFont;

	&__bg{
		background: url(bg.jpg) repeat;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform: scale(2);
	}

	&__scissors, &__tape {
		position: absolute;
		bottom: 0;
	}

	&__scissors{
		left: 0;
	}

	&__tape{
		right: 0;
	}

	&__button {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		background: white;
		color: #000000;
		font-weight: bold;
		text-transform: uppercase;
		text-decoration: none;
		border-radius: 6px;
		opacity: 0;
		line-height: 0;

		&-caret {
			background: url(carrot.png) no-repeat;
			margin: 0 0 0 15px;
		}
	}

	&__piLinks 	{	
		display: grid;
        grid-template: "a b c"/ 1.33fr 3px 1fr;
        & > *:nth-child(1) {
            grid-area: a;
        }
        & > *:nth-child(2) {
            grid-area: b;
        }
        & > *:nth-child(3) {
            grid-area: c;
        }
		& > * {
            justify-self: center;
            align-self: center;
        }
		background: $gray;
		color: $piLinkTextColor;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 11px;
		padding: 5px;
		z-index: 4;
		position: relative;		
		bottom: 0;
		a {
			color: $piLinkTextColor;
		}}

	&__amgenLogo {
		position: relative;
		max-width: 142px;
		margin: 0 auto;
	}
	
}

#isi-wrapper {
	bottom: 0;
	right: 0;
	width: 100%;
	height: $isiWrapperHeight;
	position: absolute;
	overflow-x: hidden;
	overflow-y: scroll;
	background: #fff;
	z-index: 4;
	&::-webkit-scrollbar {
		width: 10px;
	}
	&::-webkit-scrollbar-track {
		background-color: #eee;
	}
	&::-webkit-scrollbar-thumb {
		background-color: #959595;
	}
	&::-webkit-scrollbar-button{
		display: none;
	}
}

#isi-content {
	font-family: $isiFont;
	font-size: 11px;
	line-height: 13px;
	padding-top: 5px;
	margin: 0 11px;
	color: #40404f
	;
	cursor: initial;

	p, ul li {
		margin-top: 0;
		margin-bottom: 5px;
	}

	.teal.bold {
		margin-bottom: 0;
	}
	
	ul {
		padding-left: 14px;
	}
}

#debug-controls {
	@if $environment == 'development' {
		background-color: lightgray;
		margin: 5px auto;
		width: 320px;
		padding: 10px;

		#debug-controls-play {
			width: 60px;
		}

		#debug-controls-time-display {
			display: inline-block;
			width: 90px;
			text-align: right;
			margin: 0;
		}

		#debug-controls-scrubber {
			margin-left: 10px;
			width: 150px;
		}
	}
}

// helpers 

.teal {
    color: $teal;

}

.bold {
    font-weight: bold;
}

.purple {
	color: $purple;
}



