<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  viewBox="0 0 280 295" class="banner__handImage">
  <image id="Screen_1_HandHoldingChalk_119" x="0"  xlink:href="hand.png" href="hand.png" width="100%" height="100%" />
</svg>    