

p(style="font-size: 12px").teal.bold.purple IMPORTANT SAFETY INFORMATION AND INDICATIONS
p.teal.bold SERIOUS INFECTIONS
p.bold
  | Patients treated with ENBREL are at increased risk for developing serious infections that may lead to hospitalization or death. Most patients who developed these infections were taking concomitant immunosuppressants such as methotrexate or corticosteroids or were predisposed to infection because of their underlying disease. ENBREL should not be initiated in the presence of sepsis, active infections, or allergy to ENBREL or its components. ENBREL should be discontinued if a patient develops a serious infection or sepsis. Reported infections include: 1) Active tuberculosis (TB), including reactivation of latent TB. Patients with TB have frequently presented with disseminated or extrapulmonary disease. Patients should be tested for latent TB before ENBREL use and periodically during therapy. Treatment for latent infection should be initiated prior to ENBREL use, 2) Invasive fungal infections, including histoplasmosis, coccidioidomycosis, candidiasis, aspergillosis, blastomycosis, and pneumocystosis. Patients with histoplasmosis or other invasive fungal infections may present with disseminated, rather than localized, disease. Antigen and antibody testing for histoplasmosis may be negative in some patients with active infection. Empiric antifungal therapy should be considered in patients at risk for invasive fungal infections who develop severe systemic illness, and 3) Bacterial, viral, and other infections due to opportunistic pathogens, including Legionella and Listeria.
p.bold
  | The risks and benefits of treatment with ENBREL should be carefully considered prior to initiating therapy in patients 1) with chronic or recurrent infection, 2) who have been exposed to TB, 3) who have resided or traveled in areas of endemic TB or endemic mycoses, or 4) with underlying conditions that may predispose them to infections such as advanced or poorly controlled diabetes. Patients should be closely monitored for the development of signs and symptoms of infection during and after treatment with ENBREL, including the possible development of TB in patients who tested negative for latent TB prior to initiating therapy.
p.teal.bold MALIGNANCIES
p.bold
  | Lymphoma and other malignancies, some fatal, have been reported in children and adolescent patients treated with tumor necrosis factor (TNF) blockers, including ENBREL.
p
  | In adult clinical trials of all TNF blockers, more cases of lymphoma were seen compared to control patients. The risk of lymphoma may be up to several-fold higher in RA patients. The role of TNF blocker therapy in the development of malignancies is unknown.
p
  | Cases of acute and chronic leukemia have been reported in association with postmarketing TNF blocker use in RA and other indications. The risk of leukemia may be higher in patients with RA (approximately 2-fold) than the general population.
p
  | Melanoma and non-melanoma skin cancer (NMSC) have been reported in patients treated with TNF blockers, including ENBREL. Periodic skin examinations should be considered for all patients at increased risk for skin cancer.
p.teal.bold Pediatric Patients
p
  | In patients who initiated therapy at &le;18 years of age, approximately half of the reported malignancies were lymphomas (Hodgkin&rsquo;s and non-Hodgkin&rsquo;s lymphoma). Other cases included rare malignancies usually associated with immunosuppression and malignancies that are not usually observed in children and adolescents. Most of the patients were receiving concomitant immunosuppressants.
p.teal.bold NEUROLOGIC REACTIONS
p
  | Treatment with TNF-blocking agents, including ENBREL, has been associated with rare (&lt;0.1%) cases of new onset or exacerbation of central nervous system demyelinating disorders, some presenting with mental status changes and some associated with permanent disability, and with peripheral nervous system demyelinating disorders. Cases of transverse myelitis, optic neuritis, multiple sclerosis, Guillain-Barr&eacute; syndromes, other peripheral demyelinating neuropathies, and new onset or exacerbation of seizure disorders have been reported in postmarketing experience with ENBREL therapy. Prescribers should exercise caution in considering the use of ENBREL in patients with preexisting or recent-onset central or peripheral nervous system demyelinating disorders.
p.teal.bold CONGESTIVE HEART FAILURE
p
  | Cases of worsening congestive heart failure (CHF) and, rarely, new-onset cases have been reported in patients taking ENBREL. Caution should be used when using ENBREL in patients with CHF. These patients should be carefully monitored.
p.teal.bold HEMATOLOGIC REACTIONS
p
  | Rare cases of pancytopenia, including aplastic anemia, some fatal, have been reported. The causal relationship to ENBREL therapy remains unclear. Exercise caution when considering ENBREL in patients who have a previous history of significant hematologic abnormalities. Advise patients to seek immediate medical attention if they develop signs or symptoms of blood dyscrasias or infection. Consider discontinuing ENBREL if significant hematologic abnormalities are confirmed.
p.teal.bold HEPATITIS B REACTIVATION
p
  | Reactivation of hepatitis B has been reported in patients who were previously infected with hepatitis B virus (HBV) and received concomitant TNF-blocking agents, including ENBREL. Most reports occurred in patients also taking immunosuppressive agents, which may contribute to hepatitis B reactivation. Exercise caution when considering ENBREL in these patients.
p.teal.bold ALLERGIC REACTIONS
p
  | Allergic reactions associated with administration of ENBREL during clinical trials have been reported in &lt;2% of patients. If an anaphylactic reaction or other serious allergic reaction occurs, administration of ENBREL should be discontinued immediately and appropriate therapy initiated.
p.teal.bold IMMUNIZATIONS
p
  | Live vaccines should not be administered to patients on ENBREL. Pediatric patients, if possible, should be brought up to date with all immunizations prior to initiating ENBREL. In patients with exposure to varicella virus, temporarily discontinue ENBREL and consider prophylactic treatment with Varicella Zoster Immune Globulin.
p.teal.bold AUTOIMMUNITY
p
  | Autoantibodies may develop with ENBREL, and rarely lupus-like syndrome or autoimmune hepatitis may occur. These may resolve upon withdrawal of ENBREL. Stop ENBREL if lupus-like syndrome or autoimmune hepatitis develops.
p.teal.bold WEGENER&rsquo;S GRANULOMATOSIS PATIENTS
p
  | The use of ENBREL in patients with Wegener&rsquo;s granulomatosis receiving immunosuppressive agents (eg, cyclophosphamide) is not recommended.
p.teal.bold MODERATE TO SEVERE ALCOHOLIC HEPATITIS
p
  | Based on a study of patients treated for alcoholic hepatitis, exercise caution when using ENBREL in patients with moderate to severe alcoholic hepatitis.
p.teal.bold ADVERSE REACTIONS
p
  | The most commonly reported adverse reactions in RA clinical trials were injection site reaction and infection. In clinical trials of all other adult indications, adverse reactions were similar to those reported in RA clinical trials.
p
  | In general, the adverse reactions in pediatric patients were similar in frequency and type as those seen in adult patients. The types of infections reported in pediatric patients were generally mild and consistent with those commonly seen in the general pediatric population.
p.teal.bold DRUG INTERACTIONS
p
  | The use of ENBREL in patients receiving concurrent cyclophosphamide therapy is not recommended. The risk of serious infection may increase with concomitant use of abatacept therapy. Concurrent therapy with ENBREL and anakinra is not recommended. Hypoglycemia has been reported following initiation of ENBREL therapy in patients receiving medication for diabetes, necessitating a reduction in anti-diabetic medication in some of these patients.
p.bold Please see <a href="#" style="color:black;" class='isi-pi-link'>Prescribing Information</a> and <a href="#" style="color:black;" class='isi-medguideLink'>Medication Guide</a>.&nbsp;
p.teal.bold INDICATION
p
  | ENBREL is indicated for reducing signs and symptoms, inducing major clinical response, inhibiting the progression of structural damage, and improving physical function in patients with moderately to severely active rheumatoid arthritis (RA). ENBREL can be initiated in combination with methotrexate (MTX) or used alone.
p       
  | <b>Reference: 1.</b> van der Heijde D, Klareskog L, Rodriguez-Valverde V, et al; TEMPO Investigators. Comparison of etanercept and methotrexate, alone and combined, in the treatment of rheumatoid arthritis: two-year clinical and radiographic results from the TEMPO study, a double-blind, randomized trial. <i>Arthritis Rheum</i>. 2006;54(4):1063-1074.
img(src="amgenLogo.png").banner__amgenLogo
p This is intended for US Healthcare Professional audiences only.
p
  | Manufactured by Immunex Corporation Marketed by Amgen Inc. Thousand Oaks, CA 91320
p 
  a(href="#" style="color:rgb(0, 0, 238);" class="banner__enbrelLink") www.enbrelpro.com

p(style="margin:0;") &copy;2020 Amgen Inc., Thousand Oaks, CA 91320.
p All rights reserved. USA-916-81443
p &nbsp;
