<svg id="runningMan2" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 151.52 201.28">
    <title>runningMan</title>
    <path id="dashPath1" d="M17.2,182.48A331,331,0,0,0,78.3,129c19.5-21.7,61.1-63.6,23.6-85.6-20.7-12.2-68.5,11.8-89.6,23.5L8,69.38C4.2,71.58,2,73,2,73s2.5-1,6.6-2.4l9.8-3.2c19.2-5.8,49.4-12.1,55.5,2.1,10.9,25.5-41,88.1-62.9,112.8l-3.5,3.9c-2.1,2.3-3.7,4.1-4.7,5.1l1-.6s1.8-.9,5.1-2.9Z" style="fill:none;stroke:#fff;stroke-linejoin:round;stroke-width:4px;stroke-dasharray:13.892999649047852,9.923600196838379" />
    <path d="M114.5,193.18c-2.1,3.8-3.5,6.1-3.5,6.1s1.9-1.9,4.8-5.1l6.6-7.9c5.3-6.6,11.4-15,15.7-23.5,7.9-15.5,18.4-33.2,5-41.6-9.5-6-29.5-.8-42.2,3.6l-4.7,1.7c-4,1.5-6.5,2.6-6.5,2.6s2.8-.5,6.9-.8l8.8-.3c9.5.3,20.2,2.5,23.3,10.8,5,13.6-5.2,37.1-12.1,50.5Z" style="fill:none;stroke:#fff;stroke-linejoin:round;stroke-width:4px;stroke-dasharray:14.357600212097168,10.255399703979492" />
    <path d="M106.8,35.78c-7.9-3.5-8.8-14.1-5.3-22S113.5-.52,121.4,3s8.8,14.1,5.3,22S114.7,39.28,106.8,35.78Z" style="fill:none;stroke:#fff;stroke-linejoin:round;stroke-width:4px;stroke-dasharray:14.616000175476074,10.4399995803833" />
</svg>