<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
html(lang="en")
	block vars
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0")
		meta(name="ad.size" content=`width=${width},height=${height}`)
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:400,700&display=swap")
		link(rel="stylesheet" href="styles.min.css")
		if screenshot === 'true'
			style.
				body {
					overflow: hidden;
				}
				#banner.unroll-isi {
					overflow: visible;
					border-bottom: 0;
				}
				#banner.unroll-isi #isi-wrapper {
					overflow: visible;
				}
		if adchoice === 'true'
			style.
				#banner::before {
						content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAPCAMAAAAxmgQeAAAAsVBMVEUAAAAArMoArMpIsswTrMsqrsw9sMwlrssOrcskrssvrcpLssw3sc4lrswpr8xAsc1Jss1Nscs6r8pQtdA7sMxSscles8oBrMoArMoorssYrMkMrMkGrcsBrMskrMkercsursstrsovr8sVrco3r8s/rsk7r8svrsw/sMwur8xXssxDscxDsc0AqchVtM0Aq8pPrscRrMpAscw+sMxvvdVPt9Jvuc9qtswxsM0ArMohrsv3lqcCAAAAOXRSTlMA8/EQ9aE32NfIsqagn5t3aV1FOi0iCPr18fHr5t/f0s3EubWno5CPhYR7eGhlYV1YTEtAOzItKRepHLVYAAAAgElEQVQY033PRxaDMBADUAG2aUnopPfee5nc/2DZhcHvgZZ/IwlVWQ4DSzezbdqRpdnsPu9M45IaLeDk0EJxk3jtku1AbNLCGnj4GZSkccQs8d8AJjT6WxPH7xOxJPfC7NwN10YvyHjvlYRYpXyfezvYnsrBjfr7j/bDc8Ic9fkBH+MI67N/6t0AAAAASUVORK5CYII=);
						border-bottom-left-radius: 3px;
						background-color: rgba(204,204,204,.8);
						height: 15px;
						width: 19px;
						right: 0;
						float:right;
						position: absolute;
						z-index: 9990;
						cursor: pointer;
						transition: padding 0.75s;
						line-height: 1;
					}
					#banner:hover::before {
						padding-left: 56px;
					}
					#banner::after {
						content: "AdChoices";
						font-size: 11px;
						font-family: arial, sans-serif;
						position: absolute;
						top:0;
						z-index: 9999;
						right: 15px;
						height: 15px;
						width: 0;
						padding: 1px;
						transition: width 0.75s, opacity 0.75s;
						cursor: pointer;
						overflow: hidden;
						box-sizing: border-box;
						line-height: 1.4;
						opacity: 0;
					}
					#banner:hover::after {
						width: 58px;
						opacity: 1;
					}
					#banner::before,
					#banner::after {
						z-index: 10000;
					}
		title #{title}
	body
		#banner.banner
			.banner__bg
			block content
				.banner__topBar
					p FOR MODERATE TO SEVERE RA
				#frame.frame
					block copy1
						p.banner__leadCopy1 <span class="banner__fadeInCopy1">Want a</span> <span class="banner__fadeInCopy1">treatment<br> solution customized</span><br><span class="banner__fadeInCopy1"> to patients?</span>
					
					block copy2
						p.banner__leadCopy2 
							<span class="banner__fadeInCopy2">
							<span>Enbrel<sup>&reg;</sup>
							<small> (etanercept)</small></span><br> measures</span> 
								<span class="banner__fadeInCopy2">up with<br>or without MTX.<sup>1</sup>
							</span> 
					

					include ./components/runningMan.pug
					include ./components/hand.pug
					img(src="enbrelLogo.png" height="165" width="auto").banner__enbrelLogo
					a(href='#').banner__button see the data <span class="banner__button-caret">&nbsp;</span>
					img(src="scissors.png").banner__scissors
					img(src="tape.png").banner__tape
					img(src="rulerAndChalk.png").banner__rulerAndChalk

			.banner__piLinks
				.banner__piLinks-pi
					a(href="#") Prescribing Information
				.banner__divider &#124;
				.banner__piLinks-medGuide
					a(href="#") Medication Guide
			#isi-wrapper
				#isi-content
					include ./components/indication.pug

		script(src="https://s0.2mdn.net/ads/studio/Enabler.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/plugins/ScrollToPlugin.min.js")
		script(src="DrawSVGPlugin.min.js")
		script(src="MorphSVGPlugin.min.js")

		if screenshot === 'true'
			script(src="../js/screenshots.js")
		script(src="scripts.min.js")

		if environment === 'development'
			#debug-controls
				button#debug-controls-play Pause
				p#debug-controls-time-display 0.00/0.00
				input#debug-controls-scrubber(type="range" value="0" max="1" step=".01")

				script(src="../js/debug.js")
