@import '../../sass/_base';

#isi-wrapper {
	width: 308px;
	height: 100%;
	bottom: -30px;
	transform: translateY(-118px);
}

.banner__leadCopy1 {
	position: absolute;
	font-size: 23px;
	color:#fff;
	text-align: left;
	line-height: 1.25;
	font-weight: bold;
	left: 15px;
	top: 23px;
	right: unset;
	margin: 0 auto;
	width: max-content;
	width: 91%;
}

.banner__leadCopy2 {
	opacity: 0;
	@extend .banner__leadCopy1;

	&-hidden{
		@extend .banner__leadCopy1;
		opacity: 0;
	}

	small {
		font-size: 16px;
	}
}

.banner {

	&__piLinks {
		height: 11px;
		width: 302px;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 5;
		transform: translateY(-30px);
		font-size: 11px;
		padding: 3px;

	}
	
	&__topBar {
		width: 318px !important;
		height: 18px !important;
		font-size: 11px;

	}

	&__button {
		top: 55px;
		left: 223px;
        width: 107px;
        height: 20px;
        font-size: 13px;
        text-transform: uppercase;
        z-index: 3;

        &-caret{
            width: 9px;
            height: 11px;
            background-size: contain;
            margin: 0 0 0 10px;
        }
    }

}

@mixin centerRunningMan {
    width: 57px;
    height: 117px;
    right: 70px;
	top: -14px;    
	left: unset;
	right: 200px;                 
}

svg{
    display: block;
    position: absolute;
}


#runningMan {
    
    @include centerRunningMan;
    z-index: 2;
}

.banner__handImage {
    
	width: 171px;
	height: 180px;
 	position: absolute;
	right: 28px;
 	bottom: -107px;
    z-index: 5;
	transform:translate(300);
}

.banner__enbrelLogo{
    opacity: 0;
    display: block;
	position: absolute;
	right: 65px;
    top: -9px;
    width: auto;
	height: 107px;
	z-index: 2;

    
}

.banner__scissors {
	width: 117px;
	height: 53px;
	left: 338px;
	bottom: 11px;
}

.banner__tape {
	width: 45px;
	left: 395px;
	bottom: -5px;
}

.banner {
	&__rulerAndChalk {
        display: block;
        position: absolute;
		top: 19px;
		right: 149px;
        opacity: 0;
    }
}


#isi-wrapper {
	padding-top: 5px;
	height: 72px;
    top: 17px;
	bottom: 0;
}

#isi-content {
	padding-top: 0;
}