extends ../../pug/base.pug

block copy1
    p.banner__leadCopy1 Want a treatment solution<br> customized to patients?

block copy2
    p.banner__leadCopy2  Enbrel<sup>&reg;</sup><small> (etanercept)</small><br> measures up with<br>or without MTX.<sup>1</sup>
        