@import '../../sass/_base';


@mixin centerRunningMan {
    width: 85px;
    height: 117px;
    right: 70px;
    top: 75px;                     
}

svg{
    display: block;
    position: absolute;
}


#runningMan {
    
    @include centerRunningMan;
    z-index: 2;
}

.banner__handImage {
    
    width: 205px;
    height: 216px;
    position: absolute;
    z-index: 4;
    transform:translateX(300px);
}

.bannner__rulerAndChalk {
    position: absolute;
    bottom: 0;
    right: 0;
}

#isi-wrapper {
    transform: translateY(197px);
    bottom: 0;
    height: 24%;
}

.banner__enbrelLogo{
    opacity: 0;
    display: block;
    position: absolute;
    top: 54px;
    width: 311px;
    height: auto;
    left: 119px;
}


.banner__leadCopy1 {
    position: absolute;
    font-size: 18px;
    color:#fff;
    text-align: left;
    line-height: 1.25;
    font-weight: bold;
    left:0;
    right: 0;
    top: 36px;
    margin: 0 auto;
    width: max-content;
    width: 91%;
}

.banner__leadCopy2 {
    opacity: 0;
    @extend .banner__leadCopy1;

    &-hidden{
        @extend .banner__leadCopy1;
        opacity: 0;
    }

    small {
        font-size: 16px;
    }
}

.banner__topBar {

    height: 24px !important;
    
    p{
        font-size: 12px;
        color: #000000;
        font-weight: bold;
        text-transform: uppercase;
    }

}


.banner {

    &__tape {

        right: 23px;
        bottom: -51px;
        transform: scale(1.15);
    }

    &__scissors {
        width: 180px;
        bottom: -17px;
        left: 15px;
    }

    &__rulerAndChalk {
        display: block;
        position: absolute;
        top: 65px;
        right: 0px;
        opacity: 0;
    }

    &__button {
        top: 107px;
        left: 15px;
        width: 123px;
        height: 25px;
        font-size: 14px;
        text-transform: uppercase;
        z-index: 3;

        &-caret{
            width: 10px;
            height: 13px;
            background-size: contain;
            margin: 0 0 0 10px;
        }
    }

    &__amgenLogo {
        margin: 10px 0;
    }

    &__piLinks {
        transform: translateY(197px);
        bottom: 24px;
    }
    &__piLinks 	{	
        grid-template: "a b c"/ 1fr 10% 1fr;
        & > *:nth-child(1) {
            grid-area: a;
        }
        & > *:nth-child(2) {
            grid-area: b;
        }
        & > *:nth-child(3) {
            grid-area: c;
            padding-left: 4px;
        }
		& > * {
            justify-self: center;
            align-self: center;
        }
        padding: 5px 13px;
	}
}

#isi-wrapper {
    height: 34%;
    
}

#isi-content {
    padding-top: 5px;
    p {
        font-size: 11px;
        line-height: 11px;
        ;
    }
}