extends ../../pug/base.pug

block copy1
    p.banner__leadCopy1 Want a<br>treatment<br>solution<br>customized<br>to patients?

block copy2
    p.banner__leadCopy2  Enbrel<sup>&reg;</sup><small> (etanercept)</small><br> measures up <br>with or<br> without MTX.<sup>1</sup>
        