@import '../../sass/_base';


@mixin centerRunningMan {
    width: 95px;
    height: 117px;
    right: 0;
    left: 0;
    margin: 0 auto;
    top: 300px;                     
}


svg{
    display: block;
    position: absolute;
}


#runningMan {
    
    @include centerRunningMan;
    z-index: 2;
}

.banner__handImage {
    width: 220px;
    height: 232px;
    position: absolute;
    z-index: 4;
    transform:translateX(300px);
}

.bannner__rulerAndChalk {
    position: absolute;
    bottom: 0;
    right: 0;
}

#isi-wrapper {
    transform: translateY(197px);
    bottom: 0;
    height: 163px;
}

.banner__enbrelLogo{
    opacity: 0;
    display: block;
    position: absolute;
    transform: translate(12px, 274px);
    width: auto;
    height: 170px;
    left: 0;
    right: 0;
    margin: 0 auto;
}


.banner__leadCopy1 {
    position: absolute;
    font-size: 25px;
    color:#fff;
    text-align: left;
    line-height: 1.25;
    font-weight: bold;
    left:0;
    right: 0;
    top: 50px;
    margin: 0 auto;
    width: max-content;
    width: 91%;
}

.banner__leadCopy2 {
    opacity: 0;
    @extend .banner__leadCopy1;

    &-hidden{
        @extend .banner__leadCopy1;
        opacity: 0;
    }

    small {
        font-size: 20px;    

    }
}

.banner__topBar {

    height: 37px !important;
    
    p{
        font-size: 11px;
        color: #000000;
        font-weight: bold;
        text-transform: uppercase;
        text-align: left;
        margin: 0 0 0 7px !important;
    }

}


.banner {

    &__tape {
        width: 72px;
        right: 23px;
        bottom: 10px;
        transform: scale(1.15);
    }

    &__scissors {
        width: 125px;
        bottom: 48px;
        left: 10px;
    }

    &__rulerAndChalk {
        display: block;
        position: absolute;
        bottom: 240px;
        right: 10px;
        opacity: 0;
    }

    &__button {
        top:226px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 140px;
        height: 29px;
        font-size: 17px;
        text-transform: uppercase;
        z-index: 3;

        &-caret{
            width: 10px;
            height: 13px;
            background-size: contain;
            margin: 0 0 0 10px;
        }
    }

    &__amgenLogo {
        margin: 10px 0;
    }

    &__piLinks 	{	
        transform: translateY(210px);
        bottom: 0;
		display: grid;
        grid-template: "a b c"/ 1fr 10% 1fr;
        & > *:nth-child(1) {
            grid-area: a;
        }
        & > *:nth-child(2) {
            grid-area: b;
        }
        & > *:nth-child(3) {
            grid-area: c;
            padding-left: 4px;
        }
		& > * {
            justify-self: center;
            align-self: center;
        }
		background: $gray;
		color: $piLinkTextColor;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 11px;
        padding: 5px 13px;
		z-index: 4;
		position: relative;		
		a {
			color: $piLinkTextColor;
		}
	}
}